<%== rodauth.login_form_header %>

<form method="post" class="rodauth" role="form" id="login-form">
  <h1 class="label">Login</h1>

  <%== rodauth.login_additional_form_tags %>
  <%== rodauth.csrf_tag %>
  <%== rodauth.skip_login_field_on_login? ? rodauth.render("login-display") : rodauth.render("login-field") %>
  <%== rodauth.render("password-field") unless rodauth.skip_password_field_on_login? %>
  <%== rodauth.button rodauth.login_button %>
</form>

<% rodauth.omniauth_providers.each do |provider| %>
  <form method="post" action="/auth/<%= provider %>" class="rodauth">
    <%== rodauth.csrf_tag "/auth/#{provider}" %>
    <button type="submit">Sign in with <%= {openid_connect: "OpenID Connect", saml: "SAML"}.fetch(provider, provider) %></button>
  </form>
<% end %>

<%= link_to "Register", "/register" %>
